@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.eot');
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Bold';
    src: url('assets/fonts/Lato-Bold.eot');
    src: url('assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.eot');
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Light';
    src: url('assets/fonts/Lato-Light.eot');
    src: url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Thin';
    src: url('assets/fonts/Lato-Thin.eot');
    src: url('assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }